<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <input type="text" v-model="inputText">
        <p> {{ inputText }} </p>

        <br>
        <input type="radio" v-model="lesson" value="html">html
        <input type="radio" v-model="lesson" value="css">css
        <p> {{ lesson }} </p>
    </div>

</body>

<script src="assets/vendor/vue.js"></script>
<script src="assets/js/script.js"></script>

</html>