<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <li>
            <ul><b>V-for untuk mengeluarkan object dalam array</b></ul>
            <ul v-for="member in members">{{ member.nama }} - {{ member.umur }}</ul>
            <br>
            <ul><b>V-for untuk mengeluarkan object biasa</b></ul>
            <ul v-for="(student, key) in students">{{ key }} -- {{ student }}</ul>
        </li>
    </div>

</body>

<script src="assets/vendor/vue.js"></script>
<script src="assets/js/script.js"></script>

</html>